.jumbotron {
	background-image: url(https://i.pinimg.com/originals/4e/4e/26/4e4e26cae6106d9c7dd6333083599553.png);
	background-size: cover;
	height:770px;
	text-align: center;
	margin-top:-120px;
	color:#625264;
}

.jumbotron h2 {
	margin-top: 270px;
	margin-bottom: 50px;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.email {
  background-color: #239b76;
  margin-right: 30px;
}

.instagram {
  background-color: #BF2891;
  margin-right: 30px;
}

.facebook {
  background-color: #3b5998;
  margin-right: 30px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}
